sudo: required

services:
  - docker

before_install:
- docker build -t puteulanus/browser-docker .

script:
  - docker login -u="$DOCKER_USERNAME" -p="$DOCKER_PASSWORD"
  - docker push puteulanus/browser-docker
