0.0.0.0:80 {
        gzip
        proxy /websockify 127.0.0.1:82 { websocket }
        proxy /vnc 127.0.0.1:81
        proxy / 127.0.0.1:444
}

127.0.0.1:81 {
        rewrite /vnc/ {
                r (.*)
                to /{1}
        }
        root /usr/local/src/novnc
}